* {
  margin: 0;
  padding: 0;
  /*font-family: Georgia, serif; Use font-family for fonts*/
}

.bodybox {
  background-color: #2e0509;
  color: white;
}

header {
  background-color: #88111d;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: 6fr 1fr;
  height: auto;
}

main {
  padding-bottom: 3rem;
}

.companyheading {
  display: flex;
  align-items: end;
  padding-left: 5%;
}

nav {
  grid-column: -1;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.navbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #580f0f;
  padding: 0.5rem;
  border-left: 2px solid black;
}

.navbox > p {
  text-align: center;
  overflow-wrap: break-word; /* Ensures text will break within words if necessary */
}

.navbox:hover {
  background-color: orangered;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: white;
}

footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #551111;
}

.copyright {
  display: flex;
  align-items: center;
  padding-left: 4%;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 4rem;
  justify-content: end;
}

.socials > a > img {
  width: 2rem;
  height: 2rem;
}

/* Red asterisk for required fields */
.required-star {
  color: red;
  margin-left: 5px;
}

button {
  background-color: #d7a97a;
  color: #4d0707;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Index Page */

.about-heading {
  display: flex;
  justify-content: center;
}

.about-main {
  padding-left: 5rem;
  padding-right: 5rem;
}

.about-main > p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ownerbox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #1a0809;
  color: white;
  border: 3px solid white;
  margin: 2rem;
  padding-left: 2rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.ownerimg {
  display: flex;
  justify-content: center;
}

.business-and-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.business {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a0809;
  color: white;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  border: 3px solid white;
}

.reviews {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a0809;
  color: white;
  text-align: center;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 1rem;
  border: 3px solid white;
}

/* Product Page */

.product-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.products-heading {
  text-align: center;
  padding-top: 1rem;
}

.product-box {
  display: flex;
  float: left;
  padding: 1rem;
  margin: 1.5rem;
  align-content: center;
  text-align: center;
}

.img-box {
  background-color: rgba(0, 0, 0, 0.4);
  width: 300px;
  padding: 2rem;
}

.img-box > img,
p,
h4 {
  opacity: 1;
}

.img-box > p,
h4 {
  padding-top: 15px;
}

.product-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 0.5rem;
  align-items: center;
  gap: 1rem;
}

.product-form > input {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #6b2a2a;
  color: #fff;
}

.custom-order-box {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 1.5rem 5%;
}

.custom-order-heading {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.custom-order-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  gap: 1rem;
}

.custom-order-form > label {
  text-align: right;
}

.custom-order-form > input,
select {
  width: 50%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #6b2a2a;
  color: #fff;
}

.item-submit {
  display: flex;
  grid-column-start: 1;
  grid-column-end: -1;
  justify-content: center;
}

/* Order Page */

.order-list-container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#orderList {
  border-collapse: collapse;
  width: 50%;
  border: #fff solid 3px;
}

#orderList thead th {
  border: #fff solid 3px;
  padding: 0.5rem;
  background-color: #4d0707;
}

#orderList tr td {
  border-left: #fff solid 3px;
  border-bottom: #fff dotted 3px;
  padding: 0.25rem;
  background-color: #6b2a2a;
}

.order-total {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 30%;
}

.order-total > input {
  width: 10%;
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
  background-color: #6b2a2a;
  color: #fff;
  margin-left: 1rem;
}

.customer-info-box {
  display: flex;
  justify-content: center;
}
