* {
  margin: 0;
  padding: 0;
  /*font-family: Georgia, serif; Use font-family for fonts*/
}

.bodybox {
  background-color: #2e0509;
  color: white;
}

header {
  background-color: #88111d;
  display: grid;
  position: sticky;
  top: 0;
  grid-template-columns: repeat(3, 1fr);
  height: auto;
}

.companyheading {
  grid-column-start: 1;
  grid-column-end: -2;
  display: flex;
  align-items: end;
  padding-left: 5%;
}

nav {
  grid-column: -1;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.navbox {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #580f0f;
  padding: 0.5rem;
  border-left: 2px solid black;
}

.navbox > p {
  text-align: center;
  overflow-wrap: break-word; /* Ensures text will break within words if necessary */
}

.navbox:hover {
  color: white;
}
.navbox:visited {
  color: orangered;
}

nav a:link {
  color: white;
  text-decoration: none;
}

nav a:visited {
  color: orangered;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 255, 255);
}

footer {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: #331111;
}

.copyright {
  display: flex;
  align-items: center;
  padding-left: 4%;
}

.socials {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 3rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 4rem;
  justify-content: end;
}

.socials > a > img {
  width: 2rem;
  height: 2rem;
}

.about-heading {
  display: flex;
  justify-content: center;
}

.about-main > p {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ownerbox {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: #1a0809;
  color: white;
  border: 3px solid white;
  margin: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.ownerimg {
  display: flex;
  justify-content: center;
}

.business {
  align-content: center;
  background-color: #1a0809;
  color: white;
  width: 230px;
  height: 300px;
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: center;
  border: 30px white;
}

.reviews {
  align-content: right;
  background-color: #1a0809;
  color: white;
  width: 400px;
  height: 300px;
  text-align: center;
  padding-top: 25px;
  border: 30px white;
  margin-bottom: 20px;
}
